body{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    text-align: center;
    gap: 50px;
    font: monospace;
    font-family: monospace;
    background-color: #AF8F6F;
}
.container{
    height: 300px;
    width: 500px;
    border:  black solid;
    background-color: #F8F4E1;
    padding: 10px;
    border-radius: 20px;
}


/* CSS */
button {
  appearance: none;
  background-color: #74512D;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 150px;
  position: static;
}

