@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Indie+Flower&display=swap');
 body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Concert One", sans-serif;

    
 }
 div{
    height: 200px;
    width: 200px;
    border: 5px solid black ;
    margin: 5px;
    gap: 5px;
 }
 button{
    padding: 5px;
    border: 2px solid black;
    font-family: "Concert One", sans-serif;
    background-color: white;
    cursor: pointer;
 }